.container{
    background-image: url(../EVENT_BG_IMG/BG_IMG15.jpg);
    border: 1px solid black;
    background-size: 100% 100%;
    height: 100%;
    border-radius: 5px;
}

h3{
    color: bisque;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
}



form .tb table input{
    width: 400px;
    height: 30px;
    margin-left: 20px;
    color: tomato;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif
}

form .tb table textarea{
    margin-left:20px ;
}
form .tb{
    border: 1px solid rgb(199, 9, 9);
    border-radius: 5px;
    padding: 15px;
    margin-left: 27%;
    margin-right: 25%;
}


form .tb table{
    height: 520px;
    color: tomato;
    margin-left:5%;
    font-weight: bolder;
    font-size: 20px;
  
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
 {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] 
{
  -moz-appearance : textfield;
}

.btn input{
    width: 100%;
    padding: 5px;
    background-color: crimson;
    color:whitesmoke;
    border: 2px solid black;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
form .tb table select option{
    color: blue;

}


